
//importo i due file scss
@use '_mixins.scss' as *;
@use '_variables.scss' as *;

@import '~bootstrap/scss/bootstrap';

//generali
ul{
    list-style: none;
}

a{
    font-weight: bold;
    text-decoration: none;
}

//top header
#header_top{
    background-color: $blue;
    padding: 5px 0;

    text-align: end;
    a{
        color: white;

        padding-left: 50px;
    }
}

#header_bottom{
    @include flex();
    justify-content: space-between;

    background-color: white;

    padding: 10px;

    #header_left{
        img{
            width: 70px;
            display: block;
        }
    }
    
    #header_center{
        ul{
            @include flex();
            
            gap: 35px;
            li{
                
                a{
                    color: $lightGray;
                    padding-top: 20px;
                    padding-bottom: 42px;
                    border-bottom: 3px solid transparent;

                    &:hover{
                        border-bottom: 3px solid $blue;
                        color: $blue;
                    }
                }

            }
            
            
        }

    }

    #header_right{
        input{
            text-align: end;
            border: transparent;
            border-bottom: 2px solid $blue;
        }
    }

   

}

//jumbotron

#jumbotron{
    height: 400px;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
}


//main content
main{
    background-color: $darkerGray;
    
    #comics_content{
    
        
    
        #label{
        
            position: relative;
            padding: 20px 0;
        
            h5{
                color: white;
                background-color: $blue;
                text-align: center;
                width: 180px;
                padding: 8px;
        
                position: absolute;
                top: -20px;
        
            }
        }

        .comic_title{
            color: white;
        }
    
        img{
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    
        #my_button{
            display: flex;
            justify-content: center;
    
            button{
                border: none;
                background-color: $blue;
                padding: 8px 50px;
                color: white;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    
    }

}

